.tutoTitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #FCDF78;
}
video {
    object-fit: fill;
    height: 200px;
    border-radius: 12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-style: none;
  }